    * {
    color: white;
}
body { 
    background-image: url(../cody.jpg); 
    background-attatchment: fixed;
    background-repeat: repeat-x;
    background-size: contain;
    -mox-background-size: contain;
    background-size: 100%;
    color: black;
}                                   

.dropdown{
    color: black;
}

.carousel-inner img {
    width: 600px;
    heigh: 600px;
}

.pic {
    width: 100px; 
    height: 100px;
}

.pic2 {
    width: 150px;
    height: 100px;
}

#carousel-example-generic {
    width: 600px; 
    background-attatchment: fixed;
}

