* {
    color: white;
}
body { 
    background-image: url(../cody.jpg); 
    background-attatchment: fixed;
    background-repeat: repeat-x;
    background-size: contain;
    -mox-background-size: contain;
    background-size: 100%;
}

img {
    width: 650px; 
    height: 100px;
}
  #carousel-example-generic {
    width: 650px;   
  }




